<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link media="screen" href="http://portal.tojnet.tj/templates/ftp-portal/style/styles.css" type="text/css"
          rel="stylesheet">

    <style>
        #dle-content {
            background: transparent
        }
    </style>

    <script>
        function ShowOrHideUser() {
            let elem = document.getElementById('optionsUser');
            let dispElem = elem.style.display;
            if (dispElem === 'none') {
                elem.style.display = 'block';
            } else {
                elem.style.display = 'none';
            }
        }
        function ShowOrHideAvatar() {
            let elem = document.getElementById('optionsAvatar');
            let dispElem = elem.style.display;
            if (dispElem === 'none') {
                elem.style.display = 'block';
            } else {
                elem.style.display = 'none';
            }
        }
        function ShowOrHidePass() {
            let elem = document.getElementById('optionsPass');
            let dispElem = elem.style.display;
            if (dispElem === 'none') {
                elem.style.display = 'block';
            } else {
                elem.style.display = 'none';
            }
        }
    </script>
</head>
<body>

<body>
<!-- Header -->
<header>
    <div id="header_h">
        <div class="wrapper">
            <menu id="h_flow" class="rcols">
                <li class="h_this"><a href="http://localhost:4444"><span>На главную</span></a></li>
                <div class="h_login">
                    <div class="login_wrapper">

                        <div id="nav-miniprofile-link">
                            <li class="h_this"><a href="/logout">Выйти из пользователя - {{.Login}}</a></li>
                        </div>

                    </div>
                </div>
            </menu>
        </div>
    </div>
    <div class="clr"></div>
    <div id="header_b">
        <div class="wrapper">

            <div class="logo lcol">
                <a href="http://localhost:4444">
                    Media - Портал
                </a>
            </div>

            <div class="logo-menu">
                <ul>
                    <li><a href="http://localhost:4444/movies" title="Фильмы, Видео"><img alt="Фильмы, Видео"
                                                                                          src="http://localhost:20000/api/files/images/folder-video.jpg"></a>
                    </li>
                    <li><a href="http://localhost:4444/games" title="Игры"><img alt="Игры"
                                                                                src="http://localhost:20000/api/files/images/folder-games.jpg"></a>
                    </li>
                    <li><a href="http://localhost:4444/softs" title="Программы"><img alt="Программы"
                                                                                     src="http://localhost:20000/api/files/images/folder-torrent.jpg"></a>
                    </li>
                    <li><a href="http://localhost:4444/musics" title="Музыка"><img alt="Музыка"
                                                                                   src="http://localhost:20000/api/files/images/folder-music.jpg"></a>
                    </li>
                </ul>
            </div>

            <div class="clr"></div>
        </div>
    </div>
</header>
<!-- Header_End -->

<main id="content_all">

    <div id="wrapper">
        <div id="content">
            <aside class="rcols">
                <div class="content full">

                    <div id="dle-content">

                        <div class="static none">
                            <div class="static_h">Пользователь: <span>{{.Login}}</span></div>
                            <div class="static_c">
                                <div class="userinfo">
                                    <div class="lcol">
                                        <div class="avatar"><img src="{{.Avatar}}" alt=""></div>
                                    </div>
                                    <div class="rcol">
                                        <ul>
                                            <li><span class="grey">Полное имя:</span> <b>{{.NameSurname}}</b></li>
                                            <li><span class="grey">Группа:</span> {{.Role}}</li>
                                        </ul>
                                        <ul class="ussep">
                                            <li><span class="small" onclick="ShowOrHideUser()" style="cursor: pointer;"> Pедактировать профиль </span></li>
                                            <li><span class="small" onclick="ShowOrHidePass()" style="cursor: pointer;"> Сменить пароль </span></li>
                                            <li><span class="small" onclick="ShowOrHideAvatar()" style="cursor: pointer;"> Сменить аватар </span></li>
                                        </ul>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>

                        <form method="post" action="/user/{{.Id}}">
                            <div id="optionsUser" style="display: none;">
                                <hr>
                                <br>
                                <div class="static none">
                                    <div class="static_h">Редактирование профиля</div>
                                    <div class="static_c">
                                        <table class="tableform">
                                            <tbody>
                                            <tr>
                                                <td class="label"><label for="nameSurname">Ваше Имя:</label></td>
                                                <td><input type="text" name="nameSurname" value="{{.NameSurname}}"
                                                           class="f_input" id="nameSurname"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="fieldsubmit">
                                            <input class="fbutton" type="submit" name="submit" value="Отправить">
                                        </div>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" name="doaction" value="adduserinfo">
                            <input type="hidden" name="id" value="6107">
                            <input type="hidden" name="dle_allow_hash" value="07908961aee541693508a9f6df3f5f338d80460a">
                        </form>

                        <form method="post" action="/user/{{.Id}}/new_pass">
                            <div id="optionsPass" style="display: none;">
                                <hr>
                                <br>
                                <div class="static none">
                                    <div class="static_h">Смена пароля</div>
                                    <div class="static_c">
                                        <table class="tableform">
                                            <tbody>
                                            <tr>
                                                <td class="label"><label for="oldPass">Старый пароль:</label></td>
                                                <td><input type="password" name="oldPass" class="f_input" id="oldPass">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="label"><label for="pass">Новый пароль:</label></td>
                                                <td><input type="password" name="pass" class="f_input" id="pass"></td>
                                            </tr>
                                            <tr>
                                                <td class="label"><label for="pass2">Повторите пароль:</label></td>
                                                <td><input type="password" name="pass2" class="f_input" id="pass2"></td>
                                            </tr>

                                            </tbody>
                                        </table>
                                        <div class="fieldsubmit">
                                            <input class="fbutton" type="submit" name="submit" value="Отправить">
                                        </div>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" name="doaction" value="adduserinfo">
                            <input type="hidden" name="id" value="6107">
                            <input type="hidden" name="dle_allow_hash" value="07908961aee541693508a9f6df3f5f338d80460a">
                        </form>

                        <form method="post" enctype="multipart/form-data" action="/user/{{.Id}}/new_avatar">
                            <div id="optionsAvatar" style="display: none;">
                                <hr>
                                <br>
                                <div class="static none">
                                    <div class="static_h">Сменить аватар</div>
                                    <div class="static_c">
                                        <table class="tableform">
                                            <tbody>
                                            <tr>
                                                <td class="label">Аватар:</td>
                                                <td>Загрузить с комьютера: <input type="file" name="image"
                                                                                  class="f_input"><br><br>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="fieldsubmit">
                                            <input class="fbutton" type="submit" name="submit" value="Отправить">
                                        </div>
                                        <div class="clr"></div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
                <div class="clr"></div>
            </aside>
            <div class="clr"></div>
        </div>
    </div>

</main>

</body>

</body>
</html>